<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>article_detail</title>
</head>
<body>
<nav th:replace="navbar.html"></nav>
<div layout:fragment="content">
    <h1 th:text="${article.subject}"></h1>
    <div th:text="${article.content}"></div>
    <div>
        <button style="margin-top: 20px;">
            <a th:href="@{/article/list}" style="margin-top: 10px;">목록</a>
        </button>
        <button>
            <a th:href="@{|/article/modify/${article.id}|}" sec:authorize="isAuthenticated()"
               th:if="${article.author != null and #authentication.getPrincipal().getUsername() == article.author.username}"
               th:text="수정"></a>
        </button>
        <button>
            <a th:href="@{|/article/delete/${article.id}|}" sec:authorize="isAuthenticated()"
               th:if="${article.author != null and #authentication.getPrincipal().getUsername() == article.author.username}"
               th:text="삭제"></a>
        </button>
    </div>
</div>
</body>
</html>
